<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a2a2lab.fapp.company.CompanyDao">

	<resultMap id="resultMapObj"
		type="com.a2a2lab.fapp.company.CompanyDto"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT
		seq,
		main,
		company,
		team,
		position,
		contact_seq
		FROM
		company
		WHERE 1=1
		ORDER BY seq DESC
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			company
		FROM
			company
		WHERE 1=1
			AND seq= #{seq}
		ORDER BY seq DESC
	</select>

</mapper>