<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
  <tr>
	<td>seq</td>
    <td>main</td>
    <td>company</td>
    <td>team</td>
    <td>position</td>
    <td>contact_seq</td>
  </tr>
  <tr th:each="list : ${list}">
  	<td th:text="${list.seq}"></td>
  	<td th:text="${list.main}"></td>
  	<td th:text="${list.company}"></td>
  	<td th:text="${list.team}"></td>
  	<td th:text="${list.position}"></td>
  	<td th:text="${list.contact_seq}"></td>
  </tr>
</table>

</body>
</html>