<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
  <tr>
	<td>seq</td>
    <td>main</td>
    <td>company</td>
    <td>team</td>
    <td>position</td>
    <td>contact_seq</td>
  </tr>
  <tr>
  	<td th:text="${item.seq}"></td>
  	<td><a th:href="@{/company/companyXdmList}" th:text="${item.main}"></a></td>
  	<td><a th:href="@{/company/companyXdmList}" th:text="${item.company}"></a></td>
  	<td><a th:href="@{/company/companyXdmList}" th:text="${item.team}"></a></td>
  	<td><a th:href="@{/company/companyXdmList}" th:text="${item.position}"></a></td>
  	<td><a th:href="@{/company/companyXdmList}" th:text="${item.contact_seq}"></a></td>
  </tr>
</table>

<a href="/company/companyXdmList">목록</a>
<a href="@{/company/companyXdmDele(seq=${item.seq})}">삭제</a>
<a th:href="@{/company/companyXdmMfom(seq=${item.seq})}">수정</a>
</body>
</html>